<div class="row">
    <div class="col-md-3">
      <img class="img-thumbnail thumbnail" [src]="file">
    </div>
    <div class="col-md-2">
      {{document.name}}
    </div>
    <div class="col-md-3">
      {{document.description}}
    </div>
    <div class="col-md-2">
      {{createdDate}}
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-warning" (click)="deleteDocument()">
          Delete
      </button>
      <button type="button" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#' + document.id">
          Edit
      </button>
      <button type="button" class="btn btn-success" (click)="show = !show" data-toggle="modal" [attr.data-target]="'#' + document.name">
          View
      </button>
    </div>
</div>
<app-preview-document *ngIf="show" [document]="document" [file]="file"></app-preview-document>
<app-edit [document]="document" (refreshPage)="updateData()"></app-edit>