<div class="row">
    <div class="col-md-1">
      {{index + 1}}
    </div>
    <div class="col-md-1">
      <img class="img-thumbnail thumbnail" [src]="file">
    </div>
    <div class="col-md-1">
      <p>{{document.file.length}}</p>
    </div>
    <div class="col-md-2">
      {{document.name}}
    </div>
    <div class="col-md-3">
      {{document.description}}
    </div>
    <div class="col-md-1">
      {{createdDate}}
    </div>
    <div class="col-md-1">
      {{document.type}}
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success" (click)="showEdit = !showEdit" data-toggle="modal" [attr.data-target]="'#edit' + document.id">
          Edit
      </button>
      <button type="button" class="btn btn-warning" (click)="showDelete = !showDelete" data-toggle="modal" [attr.data-target]="'#delete' + document.id">
          Delete
      </button>
    </div>
</div>
<app-edit *ngIf="showEdit" [document]="document" (closeModalEvent)="showEdit = !showEdit"></app-edit>
<app-delete-item *ngIf="showDelete" [document]="document" (closeModalEvent)="showDelete = !showDelete"></app-delete-item>