.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .search-field {
        width: 85%;
    }
}

.search-grid {
    position: relative;
    bottom: 100px;
}

.no-doc-found {
    text-align: center;
}
