<div class="container" [@moveSearchbar]="stateBar">
  <div class="form-group">
    <select class="form-control" id="documentType" [(ngModel)]="type">
      <option value="{{option.value}}" *ngFor="let option of options">{{option.name}}</option>
    </select>
  </div>
  <div class="form-group search-field">
    <input type="text" class="form-control" id="search" [(ngModel)]="searchString" placeholder="Search for documents">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="onSearch()">Search</button>
  </div>
</div>
<div *ngIf="noDocumentsFound" class="no-doc-found">
  <h1>Oops, nothing found. Try again :)</h1>
</div>
<app-grid-page class="search-grid" [documents]="documents" *ngIf="documents.length > 0"></app-grid-page>
