
<div class="list-group">
  <div class="row list-group-item datagrid-info">
    <div class="col-md-3">
      Document name
    </div>
    <div class="col-md-4">
      Description
    </div>
    <div class="col-md-3">
      Created date
    </div>
    <div class="col-md-2">
      Options
    </div>
  </div>
  <div class="list-group-item" *ngFor="let document of documents">
    <div class="document-container">
        <app-list-item (refreshPage)="refreshPage()" [document]="document"></app-list-item>
    </div>
  </div>
</div>