<div class="dashboard">
    <top-bar (changeCurrentPage)="changePage($event)"></top-bar>
    <div class="page" [ngSwitch]="page">
        <div *ngSwitchCase="'contract'">
            <app-contract-page></app-contract-page>
        </div>
        <div *ngSwitchCase="'insurance'">
            <app-insurance-page></app-insurance-page>
        </div>
        <div *ngSwitchCase="'receipt'">
            <app-receipts-page></app-receipts-page>
        </div>
        <div *ngSwitchDefault>
            <app-search-page></app-search-page>
        </div>
    </div>
</div>