<div class="modal fade" id="view{{document.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Preview Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let file of files; let i = index">
          <div class="image-settings">
            <label for="title">Name: {{file.originalname}}</label>
            <button type="button" class="btn" (click)="openFile(file.filename)">Open in new tab</button>
          </div>
          <img class="img-fluid" [src]="images[i]">
        </div>
      </div>
    </div>
  </div>
</div>