<div class="details">
  <p class="no-selected" *ngIf="!station">Select a station for details.</p>
  <div class="details-container" *ngIf="station">
    <h2>{{station.name}}</h2>
    <div class="station-map">
      <agm-map [latitude]="station.position.latitude" [longitude]="station.position.longitude">
        <agm-marker [latitude]="station.position.latitude" [longitude]="station.position.longitude"></agm-marker>
      </agm-map>
    </div>
    <div class="latest-measures list-group">
      <h3>10 latest measures</h3>
      <div *ngFor="let hour of station.data | orderBy: ['-date']; let i=index">
        <div class="list-group-item" *ngIf="i<10">
          <p>{{convertToStatistics(hour)}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
