
<div class="list-group">
  <div class="row list-group-item datagrid-info">
    <div class="col-md-1">
      #
    </div>
    <div class="col-md-2">
      Preview
    </div>
    <div class="col-md-2">
      Document name
    </div>
    <div class="col-md-3">
      Description
    </div>
    <div class="col-md-1">
      Created date
    </div>
    <div class="col-md-1">
      Type
    </div>
    <div class="col-md-2">
      Options
    </div>
  </div>
  <div class="document-container">
    <div class="list-group-item" *ngFor="let document of documents; let i = index">
        <app-list-item [document]="document" [index]="i"></app-list-item>
    </div>
  </div>
</div>