
<div class="list-group">
  <div class="btn-group item-options" role="group" aria-label="options">
    <button type="button" 
      class="btn btn-secondary" 
      (click)="showPreview = !showPreview"
      data-toggle="modal" 
      [attr.data-target]="'#view' + documentId"
      [disabled]="!selectedDocument">
        View Files
      </button>
    <button type="button" 
      class="btn btn-secondary" 
      (click)="showEdit = !showEdit" 
      data-toggle="modal" 
      [attr.data-target]="'#edit' + documentId"
      [disabled]="!selectedDocument">
        Edit item
      </button>
  </div>
  <div class="row datagrid-info">
    <div class="col-md-1">
      #
    </div>
    <div class="col-md-1">
      Preview
    </div>
    <div class="col-md-1">
      Nr of files
    </div>
    <div class="col-md-2">
      Document name
    </div>
    <div class="col-md-3">
      Description
    </div>
    <div class="col-md-1">
      Created date
    </div>
    <div class="col-md-1">
      Type
    </div>
    <div class="col-md-2">
      Options
    </div>
  </div>
  <div class="document-container">
    <div class="list-group-item row-item" id="{{document.id}}" *ngFor="let document of documents; let i = index" (click)="test(document)">
        <app-list-item [document]="document" [index]="i"></app-list-item>
    </div>
  </div>
</div>
<app-preview-document *ngIf="showPreview" [document]="selectedDocument" (closeModalEvent)="showPreview = !showPreview"></app-preview-document>
<app-edit *ngIf="showEdit" [document]="selectedDocument" (closeModalEvent)="showEdit = !showEdit"></app-edit>

