<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="documentForm">
          <div class="form-group" [ngClass]="{'has-error':!documentForm.controls['name'].valid && documentForm.controls['name'].touched}">
            <label for="title">Name: *</label>
            <input type="text" class="form-control" id="title" placeholder="Document Name"
              [formControl]="documentForm.controls['name']">
              <div *ngIf="documentForm.controls['name'].hasError('required') && documentForm.controls['name'].touched" class="alert alert-danger">You must include a name.</div>
          </div>
          <div class="form-group">
            <label for="documentType">Select document type:</label>
            <select class="form-control" id="documentType" [formControl]="documentForm.controls['type']">
              <option value="{{option.value}}" *ngFor="let option of options">{{option.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" id="description"
              [formControl]="documentForm.controls['description']">
            </textarea>
          </div>
          <div class="input-group form-group" [ngClass]="{'has-error':!documentForm.controls['fileName'].valid && documentForm.controls['fileName'].touched}">
            <label class="input-group-btn">
              <span class="btn btn-primary">
              Choose file <input type="file" name="file" style="display: none;" multiple>
              </span>
            </label>
            <input type="text" class="form-control" readonly
              [formControl]="documentForm.controls['fileName']">
            <div *ngIf="documentForm.controls['fileName'].hasError('required') && documentForm.controls['fileName'].touched" class="alert alert-danger">You must include a file.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="saveDocument(documentForm.value)" [disabled]="!documentForm.valid">Add item</button>
      </div>
    </div>
  </div>
</div>